// out: "../../wwwroot/"
@BlackColor: black;
@WhiteColor: white;
@RedColor: red;
@BlueColor: blue;
@LightGrayColor: lightgray;
@BGColor: rgb(247, 247, 247);
@AbsolutePosition: absolute;
@RelativePosition: relative;
@FixedPosition: fixed;
@FontFamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

body{
    animation: opacityAnimation 3s;
    font-family: @FontFamily;
}

.flexfunction()
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center
}

.text-decorations()
{
    text-decoration: underline;
    text-decoration-color: inherit;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 10px;   
}

#nav
{
    .text-decorations();
}

.main-header{
    padding: 30px;
    position: @FixedPosition;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: @WhiteColor;
    height: 40px;
}   

.logo-home{
    width: 100px;
    height: 30px;
    padding: 10px;
}

.main-header > a > span{
    color: @BlackColor;
}

a:active{
    color: @BlackColor;
}

a{
    text-decoration: none;
}

.categories{
    margin-left: 50px;
}

.categories > a {
    padding: 20px;
    cursor: pointer;
}

#searching-button{
    height: 30px;
    width: 50px;
    border: none;
    background-color: transparent;
    margin-left: 15px;
    cursor: pointer;
    margin-bottom: -8px;
    background-image: url("https://www.hihonor.com/etc/designs/honor-site/assets/header-svg/5.svg");
    background-repeat: no-repeat;
}

#search-box{
    width: 300px;
    height: 25px;
    font-size: 20px;
    margin-left: 120px;
    border: 1px solid transparent;
    background-color: transparent;
}

.languages, .categories{
    display: inline-block;
}

.languages{
    padding: 10px
}

::placeholder{
    padding: 2px;
}

.UK, .Russia, .Azerbaijan{
    width: 30px;
    height: 30px;
}

.languages > img:hover{
    opacity: .5;
    cursor: pointer;
}

.about-honor{
    font-size: 2vw;
    position: @RelativePosition;
    padding-bottom: 2vw;
    top: 100px;
    left: 650px;
}

.about-honor::after
{
    content: '';
    width: 3vw;
    height: 1px;
    background-color: #000;
    position: @AbsolutePosition;
    bottom: 0;
    left: 75px;
}

.about-text{
    font-size: 20px;
    color: @BlackColor;
    text-align: center;
    margin: 0 auto;
    position: @AbsolutePosition;
    top: 250px;
    left: 350px;
}

.about-title{
    font-size: 2vw;
    position: @RelativePosition;
    padding-bottom: 2vw;
    top: 400px;
    left: 550px;
}

.about-title::after
{
    content: '';
    width: 3vw;
    height: 1px;
    background-color: #000;
    position: @AbsolutePosition;
    bottom: 0;
    left: 175px;
}

.about-text2{
    font-size: 20px;
    color: @BlackColor;
    text-align: center;
    margin: 0 auto;
    position: @AbsolutePosition;
    bottom: 0;
    left: 350px;
    top: 630px;
}

.create-flex.multiple-row{
    position: @AbsolutePosition;
    bottom: 0;
    left: 350px;
    top: 900px;
    .flexfunction();
}

.flex-sections{
    margin: 30px;
    padding-right: 30px;
}

.create-flex.multiple-row2{
    position: @AbsolutePosition;
    bottom: 0;
    left: 350px;
    top: 1030px;
    .flexfunction();
}

.remarks{
    font-size: .78125vw;
    padding-top: 3vw;
    color: gray;
    max-width: 80%;
    margin: 0 auto;
    word-break: break-word;
    position: @AbsolutePosition;
    left: 600px;
    top: 1100px;
}

.video{
    position: @AbsolutePosition;
    left: 0;
    top: 1250px;
    height: 500px;
    width: 100%;
}

.scrolltopButton{
    display: none;
    position: @FixedPosition;
    bottom: 200px; 
    left: 30px; 
    width: 40px;
    height: 40px;
    z-index: 1001;
    border: none;
    outline: none;
    background-color: @BlueColor;
    color: @WhiteColor;
    cursor: pointer;
    padding: 12px;
    border-radius: 50px;
    font-size: 22px; 
}

.scrolltopButton:hover {
    background-color: #555;
}

.theme-switcher{
    background-color: @BlackColor;
    color: @WhiteColor;
    border: none;
    cursor: pointer;
}

.theme-switcher:hover{
    opacity: .5
}

footer{
    background-color: @BlackColor;
    position: @AbsolutePosition;
    bottom: -1370px;
    left: 0;
    right: 0;
    height: 300px;
    width: 100%;
}

footer > *
{
    padding: 5px;
    font-size: 15px;
    margin-left: 100px;
    color: @WhiteColor;
}

.customLink{
    padding: -5px;
}

.customLink:hover{
    opacity: .5;
}

.iconfont{
    width: 40px;
    height: 40px;
}

.partners{
    margin-left: -100px;
}

.scrolltopButton{
    display: none;
    position: @FixedPosition;
    bottom: 200px; 
    left: 30px; 
    width: 40px;
    height: 40px;
    z-index: 1001;
    border: none;
    outline: none;
    background-color: @BlueColor;
    color: @WhiteColor;
    cursor: pointer;
    padding: 12px;
    border-radius: 50px;
    font-size: 22px; 
}

.scrolltopButton:hover {
    background-color: #555;
}


@keyframes opacityAnimation
{
      from{
          opacity: 0;
      };
      to{
          opacity: 1;
      };
}