// out: "../../wwwroot/"

#main-header{
    height: 50px;
    border: 1px solid;
}   

#title-of-site{
    
}

#searching-button{
    height: 30px;
    width: 50px;
}

#search-box{
    width: 300px;
    height: 30px;
    font-size: 20px;
}

.languages{
    display: inline-block;
}