// out: "../../wwwroot/"
@BlackColor: black;
@BlackColor: black;
@WhiteColor: white;
@RedColor: red;
@BlueColor: blue;
@LightGrayColor: lightgray;
@BGColor: rgb(247, 247, 247);
@AbsolutePosition: absolute;
@RelativePosition: relative;
@FixedPosition: fixed;
@FontFamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

body{
    animation: opacityAnimation 3s;
    font-family: @FontFamily;
}

.flexfunction()
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center
}

.main-header{
    padding: 30px;
    position: @FixedPosition;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: @WhiteColor;
    height: 40px;
}   

.logo-home{
    width: 100px;
    height: 30px;
    padding: 10px;
}

.main-header > a > span{
    color: @BlackColor;
}

a:active{
    color: @BlackColor;
}

a{
    text-decoration: none;
}

.categories{
    margin-left: 50px;
}

.categories > a {
    padding: 20px;
    cursor: pointer;
}

#searching-button{
    height: 30px;
    width: 50px;
    border: none;
    background-color: transparent;
    margin-left: 15px;
    cursor: pointer;
    margin-bottom: -8px;
    background-image: url("https://www.hihonor.com/etc/designs/honor-site/assets/header-svg/5.svg");
    background-repeat: no-repeat;
}

#search-box{
    width: 300px;
    height: 25px;
    font-size: 20px;
    margin-left: 120px;
    border: 1px solid transparent;
    background-color: transparent;
}

.languages, .categories{
    display: inline-block;
}

.languages{
    padding: 10px;
}

::placeholder{
    padding: 2px;
}

.UK, .Russia, .Azerbaijan{
    width: 30px;
    height: 30px;
}

.languages > img:hover{
    opacity: .5;
    cursor: pointer;
}

.honorimg{
    width: 300px;
    height: 50px;
}

.Honor70AD{
    position: @AbsolutePosition;
    top: 80px;
    left: 600px;
    width: 300px;
}

.HonorMagic4ProAD{
    position: @RelativePosition;
    top: 260px;
    left: 600px;
    width: 300px;
}

.desc{
    .flexfunction();
    font-size: 30px;
    color: rgba(0,0,0,0.4);
}

.HonorMagic4ProAD > h3{
    position: @AbsolutePosition;
    top: 30px;
    left: 0;
}

.HonorMagicMB14AD > h3{
    position: @AbsolutePosition;
    top: 30px;
    left: -20px;
}

.HonorMagicGS3AD > h3{
    position: @AbsolutePosition;
    top: 30px;
    left: 0;
}

.Honor70btn{
    .flexfunction();
}

.honorMagic4Probtn{
    .flexfunction();
    position: @AbsolutePosition;
    top: 150px;
    left: 70px;
}

.buy_button{
    .flexfunction();
    border: 1px solid #256fff;
    border-radius: 20px;
    background-color: #256fff;;
    color: white;
    font-size: 18px;
    font-weight: 500;
    width: 60px;
    height: 40px;
    cursor: pointer;
}

.buy_button:hover{
    opacity: .5;
}

.learn_more_button{
    font-size: 18px;
    cursor: pointer;
    padding-left: 15px;
}

.HONOR70Photo{
    position: @RelativePosition;
    top: 200px;
    left: 250px;
    height: 450px;
}

.honorMagic4ProPhoto{
    position: @RelativePosition;
    top: 450px;
    left: 250px;
    max-width: 80%;
    height: 450px;
}

.honorMB14Photo{
    position: @RelativePosition;
    top: 550px;
    left: 150px;
    max-width: 50%;
    height: 350px;
}

.HonorMagicMB14AD{
    position: @RelativePosition;
    top: 500px;
    left: 200px;
    width: 350px;
}

.HonorMagicGS3AD
{
    position: @RelativePosition;
    top: 40px;
    left: 900px;
    width: 300px;
}

.honorMB14btn{
    .flexfunction();
    position: @AbsolutePosition;
    top: 120px;
    left: 50px;
}

.honorGS3btn{
    .flexfunction();
    position: @AbsolutePosition;
    top: 120px;
    left: 50px;
}

.honorGS3Photo{
    position: @RelativePosition;
    top: 100px;
    left: 850px;
    max-width: 50%;
    height: 350px;
}

.theme-switcher{
    background-color: @BlackColor;
    color: @WhiteColor;
    border: none;
    cursor: pointer;
}

.theme-switcher:hover{
    opacity: .5
}

footer{
    background-color: @BlackColor;
    position: @AbsolutePosition;
    bottom: -1750px;
    left: 0;
    right: 0;
    height: 300px;
    width: 100%;
}

footer > *
{
    padding: 5px;
    font-size: 15px;
    margin-left: 100px;
    color: @WhiteColor;
}

.customLink{
    padding: -5px;
}

.customLink:hover{
    opacity: .5;
}

.iconfont{
    width: 40px;
    height: 40px;
}

.partners{
    margin-left: -100px;
}

.partners:hover{
    opacity: .5;
}


.scrolltopButton{
    display: none;
    position: @FixedPosition;
    bottom: 200px; 
    left: 30px; 
    width: 40px;
    height: 40px;
    z-index: 1001;
    border: none;
    outline: none;
    background-color: @BlueColor;
    color: @WhiteColor;
    cursor: pointer;
    padding: 12px;
    border-radius: 50px;
    font-size: 22px; 
}

.scrolltopButton:hover {
    background-color: #555;
}

@keyframes opacityAnimation
{
      from{
          opacity: 0;
      };
      to{
          opacity: 1;
      };
}

.hamburger-menu
{
    visibility: hidden;
}

@media screen and (max-width: 550px)
{
    .menu__btn {
        display: flex;
        align-items: center;
        position: @AbsolutePosition;
        top: 20px;
        left: 420px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .mediascreenfunc1();
}


@media screen and (min-width: 550px) and (max-width: 600px)
{
    .menu__btn {
        display: flex;
        align-items: center;
        position: @AbsolutePosition;
        top: 20px;
        left: 520px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .mediascreenfunc1();
}


@media screen and (min-width: 600px) and (max-width: 650px)
{
    .menu__btn {
        display: flex;
        align-items: center;
        position: @AbsolutePosition;
        top: 20px;
        left: 570px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .mediascreenfunc1();
}



@media screen and (min-width: 650px) and (max-width: 700px)
{
    

    .menu__btn {
        display: flex;
        align-items: center;
        position: @AbsolutePosition;
        top: 20px;
        left: 620px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .mediascreenfunc2();
}


@media screen and (min-width: 700px) and (max-width: 800px)
{
    .menu__btn {
        display: flex;
        align-items: center;
        position: @AbsolutePosition;
        top: 20px;
        left: 670px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .mediascreenfunc2();
}


@media screen and (min-width: 800px) and (max-width: 900px)
{
    .menu__btn {
        display: flex;
        align-items: center;
        position: @AbsolutePosition;
        top: 20px;
        left: 770px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .mediascreenfunc3();
}

@media screen and (min-width: 900px) and (max-width: 950px)
{
    .menu__btn {
        display: flex;
        align-items: center;
        position: @AbsolutePosition;
        top: 20px;
        left: 820px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .mediascreenfunc3();
}



@media screen and (min-width: 950px) and (max-width: 1300px)
{    
    .Honor70AD{
        position: @AbsolutePosition;
        top: 80px;
        left: 400px;
        width: 300px;
    }

    .HONOR70Photo{
        position: @RelativePosition;
        top: 200px;
        left: 50px;
        height: 450px;
    }

    .HonorMagic4ProAD{
        position: @RelativePosition;
        top: 260px;
        left: 400px;
        width: 300px;
    }

    .honorMagic4ProPhoto{
        position: @RelativePosition;
        top: 450px;
        left: 150px;
        max-width: 80%;
        height: 450px;
    }

    .HonorMagicMB14AD{
        position: @RelativePosition;
        top: 500px;
        left: 100px;
        width: 300px;
    }

    .honorMB14Photo{
        position: @RelativePosition;
        top: 550px;
        left: 50px;
        max-width: 50%;
        height: 350px;
    }

    .HonorMagicGS3AD
    {
        position: @RelativePosition;
        top: 40px;
        left: 700px;
        width: 300px;
    }

    .honorGS3Photo{
        position: @RelativePosition;
        top: 100px;
        left: 650px;
        max-width: 50%;
        height: 350px;
    }

    #searching-button{
        position: @AbsolutePosition;
        top: 70px;
        left: 350px;
    }

    #search-box{
        position: @AbsolutePosition;
        top: 70px;
        left: -80px;
    }

    footer{
        width: 100%;
    }
}


@media screen and (min-width: 1300px) and (max-width: 1415px)
{
    #searching-button{
        position: @AbsolutePosition;
        margin-left: 350px;
    }

    #search-box{
        position: @AbsolutePosition;
        margin-left: 30px;
    }
}



.mediascreenfunc1()
{
    .Honor70AD{
        position: @AbsolutePosition;
        top: 100px;
        left: 100px;
    }
    
    .HONOR70Photo{
        position: @RelativePosition;
        top: 330px;
        left: 30px;
        width: 450px;
        height: 400px;
    }

    .HonorMagic4ProAD{
        position: @RelativePosition;
        top: 350px;
        left: 100px;
    }

    .honorMagic4ProPhoto{
        position: @RelativePosition;
        top: 480px;
        left: 50px;
        width: 450px;
        height: 400px;
    }

    .HonorMagicMB14AD{
        position: @RelativePosition;
        top: 500px;
        left: 100px;
    }   
    
    .honorMB14Photo{
        position: @RelativePosition;
        top: 550px;
        left: 100px;
        width: 400px;
        height: 350px;
    }
    
    .HonorMagicGS3AD
    {
        position: @RelativePosition;
        top: 600px;
        left: 100px;
    }

    .honorGS3Photo{
        position: @RelativePosition;
        top: 650px;
        left: 100px;
        width: 400px;
        height: 350px;
    }

    footer{
        position: @RelativePosition;
        top: 700px;
        left: 0;
        height: 300px;
    }
  
    // #searching-button{
    //     position: @AbsolutePosition;
    //     top: 30px;
    //     left: 400px;
    // }

    // #search-box{
    //     position: @AbsolutePosition;
    //     top: 30px;
    //     left: 100px;
    //     width: 150px;
    // }

    .main-header{
        visibility: hidden;
    }

    .hamburger-menu
    {
        visibility:visible;
    }

    #menu__toggle {
        opacity: 0;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: @AbsolutePosition;
        width: 100%;
        height: 2px;
        background-color: #616161;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: @AbsolutePosition;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 100%;
        height: 400px;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: white;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        z-index: 9999;
      }

      .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        font-weight: 600;
        text-decoration: none;
      }

      .menu__item:hover {
        background-color: white;
      }

      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
      }

      .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
    transition-duration: .25s;
    }
    .menu__box {
    transition-duration: .25s;
    }
    .menu__item {
    transition-duration: .25s;
    }
}


.mediascreenfunc2()
{
    .Honor70AD{
        position: @AbsolutePosition;
        top: 100px;
        left: 200px !important;
    }
    
    .HONOR70Photo{
        position: @RelativePosition;
        top: 330px;
        left: 130px !important;
        width: 450px;
        height: 400px;
    }

    .HonorMagic4ProAD{
        position: @RelativePosition;
        top: 350px;
        left: 200px !important;
    }

    .honorMagic4ProPhoto{
        position: @RelativePosition;
        top: 480px;
        left: 150px !important;
        width: 450px;
        height: 400px;
    }

    .HonorMagicMB14AD{
        position: @RelativePosition;
        top: 500px;
        left: 200px !important;
    }   
    
    .honorMB14Photo{
        position: @RelativePosition;
        top: 550px;
        left: 200px !important;
        width: 400px;
        height: 350px;
    }
    
    .HonorMagicGS3AD
    {
        position: @RelativePosition;
        top: 600px;
        left: 200px !important;
    }

    .honorGS3Photo{
        position: @RelativePosition;
        top: 650px;
        left: 200px !important;
        width: 400px;
        height: 350px;
    }

    footer{
        position: @RelativePosition;
        top: 700px;
        left: 0;
        height: 300px;
    }
  
    // #searching-button{
    //     position: @AbsolutePosition;
    //     top: 30px;
    //     left: 400px;
    // }

    // #search-box{
    //     position: @AbsolutePosition;
    //     top: 30px;
    //     left: 100px;
    //     width: 150px;
    // }

    .main-header{
        visibility: hidden;
    }

    .hamburger-menu
    {
        visibility:visible;
    }

    #menu__toggle {
        opacity: 0;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: @AbsolutePosition;
        width: 100%;
        height: 2px;
        background-color: #616161;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: @AbsolutePosition;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 100%;
        height: 400px;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: white;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        z-index: 9999;
      }

      .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        font-weight: 600;
        text-decoration: none;
      }

      .menu__item:hover {
        background-color: white;
      }

      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
      }

      .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
    transition-duration: .25s;
    }
    .menu__box {
    transition-duration: .25s;
    }
    .menu__item {
    transition-duration: .25s;
    }
}


.mediascreenfunc3()
{
    .Honor70AD{
        position: @AbsolutePosition;
        top: 100px;
        left: 300px !important;
    }
    
    .HONOR70Photo{
        position: @RelativePosition;
        top: 330px;
        left: 230px !important;
        width: 450px;
        height: 400px;
    }

    .HonorMagic4ProAD{
        position: @RelativePosition;
        top: 350px;
        left: 300px !important;
    }

    .honorMagic4ProPhoto{
        position: @RelativePosition;
        top: 480px;
        left: 250px !important;
        width: 450px;
        height: 400px;
    }

    .HonorMagicMB14AD{
        position: @RelativePosition;
        top: 500px;
        left: 300px !important;
    }   
    
    .honorMB14Photo{
        position: @RelativePosition;
        top: 550px;
        left: 300px !important;
        width: 400px;
        height: 350px;
    }
    
    .HonorMagicGS3AD
    {
        position: @RelativePosition;
        top: 600px;
        left: 300px !important;
    }

    .honorGS3Photo{
        position: @RelativePosition;
        top: 650px;
        left: 300px !important;
        width: 400px;
        height: 350px;
    }

    footer{
        position: @RelativePosition;
        top: 700px;
        left: 0;
        height: 300px;
    }
  
    // #searching-button{
    //     position: @AbsolutePosition;
    //     top: 30px;
    //     left: 400px;
    // }

    // #search-box{
    //     position: @AbsolutePosition;
    //     top: 30px;
    //     left: 100px;
    //     width: 150px;
    // }

    .main-header{
        visibility: hidden;
    }

    .hamburger-menu
    {
        visibility:visible;
    }

    #menu__toggle {
        opacity: 0;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: @AbsolutePosition;
        width: 100%;
        height: 2px;
        background-color: #616161;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: @AbsolutePosition;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 100%;
        height: 400px;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: white;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        z-index: 9999;
      }

      .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        font-weight: 600;
        text-decoration: none;
      }

      .menu__item:hover {
        background-color: white;
      }

      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
      }

      .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
    transition-duration: .25s;
    }
    .menu__box {
    transition-duration: .25s;
    }
    .menu__item {
    transition-duration: .25s;
    }
}