body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#nav {
  text-decoration: underline;
  text-decoration-color: inherit;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 10px;
}
.main-header {
  padding: 30px;
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  height: 40px;
}
.logo-home {
  width: 100px;
  height: 30px;
  padding: 10px;
}
.main-header > a > span {
  color: black;
}
a:active {
  color: black;
}
a {
  text-decoration: none;
}
.categories {
  margin-left: 50px;
}
.categories > a {
  padding: 20px;
  cursor: pointer;
}
#searching-button {
  height: 30px;
  width: 50px;
  border: none;
  background-color: transparent;
  margin-left: 5px;
  cursor: pointer;
  margin-bottom: -8px;
  background-image: url("https://www.hihonor.com/etc/designs/honor-site/assets/header-svg/5.svg");
  background-repeat: no-repeat;
}
#searching-button:hover {
  background-color: lightgray;
  opacity: 0.33;
}
#search-box {
  width: 300px;
  height: 25px;
  font-size: 20px;
  margin-left: 50px;
  border: 1px solid transparent;
}
.languages,
.categories {
  display: inline-block;
}
.languages {
  margin-left: 10px;
}
::placeholder {
  padding: 2px;
}
.UK,
.Russia,
.Azerbaijan {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.languages > img:hover {
  opacity: 0.5;
}
.main-video {
  position: absolute;
  left: 0;
  top: 100px;
  width: 100vw;
  height: 300px;
}
.about-honor {
  font-size: 2vw;
  position: relative;
  padding-bottom: 2vw;
  top: 450px;
  left: 650px;
}
.about-honor::after {
  content: '';
  width: 3vw;
  height: 1px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 75px;
}
.about-text {
  font-size: 20px;
  color: black;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 350px;
}
.about-title {
  font-size: 2vw;
  position: relative;
  padding-bottom: 2vw;
  top: 680px;
  left: 550px;
}
.about-title::after {
  content: '';
  width: 3vw;
  height: 1px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 175px;
}
.about-text2 {
  font-size: 20px;
  color: black;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 350px;
  top: 900px;
}
.create-flex.multiple-row {
  position: absolute;
  bottom: 0;
  left: 350px;
  top: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.flex-sections {
  margin: 30px;
  padding-right: 30px;
}
.create-flex.multiple-row2 {
  position: absolute;
  bottom: 0;
  left: 350px;
  top: 1230px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.remarks {
  font-size: 0.78125vw;
  padding-top: 3vw;
  color: gray;
  max-width: 80%;
  margin: 0 auto;
  word-break: break-word;
  position: absolute;
  left: 350px;
  top: 1300px;
}
.video {
  position: absolute;
  left: 0;
  top: 1400px;
  height: 500px;
  width: 100%;
}
