body {
  animation: opacityAnimation 3s;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#nav {
  text-decoration: underline;
  text-decoration-color: inherit;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 10px;
}
.main-header {
  padding: 30px;
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  height: 40px;
}
.logo-home {
  width: 100px;
  height: 30px;
  padding: 10px;
}
.main-header > a > span {
  color: black;
}
a:active {
  color: black;
}
a {
  text-decoration: none;
}
.categories {
  margin-left: 50px;
}
.categories > a {
  padding: 20px;
  cursor: pointer;
}
#searching-button {
  height: 30px;
  width: 50px;
  border: none;
  background-color: transparent;
  margin-left: 15px;
  cursor: pointer;
  margin-bottom: -8px;
  background-image: url("https://www.hihonor.com/etc/designs/honor-site/assets/header-svg/5.svg");
  background-repeat: no-repeat;
}
#search-box {
  width: 300px;
  height: 25px;
  font-size: 20px;
  margin-left: 120px;
  border: 1px solid transparent;
  background-color: transparent;
}
.languages,
.categories {
  display: inline-block;
}
.languages {
  padding: 10px;
}
::placeholder {
  padding: 2px;
}
.UK,
.Russia,
.Azerbaijan {
  width: 30px;
  height: 30px;
}
.languages > img:hover {
  opacity: 0.5;
  cursor: pointer;
}
.about-honor {
  font-size: 2vw;
  position: relative;
  padding-bottom: 2vw;
  top: 100px;
  left: 650px;
}
.about-honor::after {
  content: '';
  width: 3vw;
  height: 1px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 75px;
}
.about-text {
  font-size: 20px;
  color: black;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 250px;
  left: 350px;
}
.about-title {
  font-size: 2vw;
  position: relative;
  padding-bottom: 2vw;
  top: 400px;
  left: 550px;
  width: 500px;
}
.about-title::after {
  content: '';
  width: 3vw;
  height: 1px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 200px;
}
.about-text2 {
  font-size: 20px;
  color: black;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 350px;
  top: 630px;
}
.create-flex.multiple-row {
  position: absolute;
  bottom: 0;
  left: 350px;
  top: 900px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.flex-sections {
  margin: 30px;
  padding-right: 30px;
}
.create-flex.multiple-row2 {
  position: absolute;
  bottom: 0;
  left: 350px;
  top: 1030px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.remarks {
  font-size: 0.78125vw;
  padding-top: 3vw;
  color: gray;
  max-width: 80%;
  margin: 0 auto;
  word-break: break-word;
  position: absolute;
  left: 600px;
  top: 1100px;
}
.video {
  position: absolute;
  left: 0;
  top: 1250px;
  height: 500px;
  width: 100%;
}
.scrolltopButton {
  display: none;
  position: fixed;
  bottom: 200px;
  left: 30px;
  width: 40px;
  height: 40px;
  z-index: 1001;
  border: none;
  outline: none;
  background-color: blue;
  color: white;
  cursor: pointer;
  padding: 12px;
  border-radius: 50px;
  font-size: 22px;
}
.scrolltopButton:hover {
  background-color: #555;
}
h1 {
  width: 300px;
}
.theme-switcher {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}
.theme-switcher:hover {
  opacity: 0.5;
}
footer {
  background-color: black;
  position: absolute;
  bottom: -1370px;
  left: 0;
  right: 0;
  height: 300px;
  width: 100%;
}
footer > * {
  padding: 5px;
  font-size: 15px;
  margin-left: 100px;
  color: white;
}
.customLink {
  padding: -5px;
}
.customLink:hover {
  opacity: 0.5;
}
.iconfont {
  width: 40px;
  height: 40px;
}
.partners {
  margin-left: -100px;
}
.partners:hover {
  opacity: 0.5;
}
.scrolltopButton {
  display: none;
  position: fixed;
  bottom: 200px;
  left: 30px;
  width: 40px;
  height: 40px;
  z-index: 1001;
  border: none;
  outline: none;
  background-color: blue;
  color: white;
  cursor: pointer;
  padding: 12px;
  border-radius: 50px;
  font-size: 22px;
}
.scrolltopButton:hover {
  background-color: #555;
}
@keyframes opacityAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hamburger-menu {
  visibility: hidden;
}
