#main-header {
  height: 50px;
  border: 1px solid;
}
#searching-button {
  height: 30px;
  width: 50px;
}
#search-box {
  width: 300px;
  height: 30px;
  font-size: 20px;
}
.languages {
  display: inline-block;
}
#categories {
  background-color: lightblue;
  height: 40px;
}
a {
  text-decoration: none;
}
#categories > a {
  font-size: 25px;
  margin: 30px;
  color: white;
}
a:hover {
  background-color: red;
}
