.logo {
  width: 100px;
  height: 30px;
}
.main-header > a > span {
  color: black;
}
a {
  text-decoration: none;
}
#searching-button {
  height: 30px;
  width: 50px;
}
#search-box {
  width: 300px;
  height: 30px;
  font-size: 20px;
}
.languages {
  display: inline-block;
}
