body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.main-header {
  margin: 0 30px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.logo {
  width: 100px;
  height: 30px;
  padding: 10px;
}
.main-header > a > span {
  color: black;
}
a:active {
  color: black;
}
a {
  text-decoration: none;
}
.categories {
  margin-left: 150px;
}
.categories > a {
  padding: 20px;
  cursor: pointer;
}
#searching-button {
  height: 30px;
  width: 50px;
  border: none;
  background-color: transparent;
  margin-left: -5px;
  cursor: pointer;
}
#searching-button:hover {
  background-color: lightgray;
  opacity: 0.33;
}
#search-box {
  width: 300px;
  height: 25px;
  font-size: 20px;
  margin-left: 100px;
}
.languages,
.categories {
  display: inline-block;
}
.languages {
  margin-left: 30px;
}
::placeholder {
  padding: 2px;
}
.UK,
.Russia,
.Azerbaijan {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.languages > img:hover {
  opacity: 0.5;
}
