body {
  animation: opacityAnimation 3s;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#nav {
  text-decoration: underline;
  text-decoration-color: inherit;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 10px;
}
.main-header {
  margin: 0 30px;
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  bottom: 0;
}
.logo-home {
  width: 100px;
  height: 30px;
  padding: 10px;
}
.main-header > a > span {
  color: black;
}
a:active {
  color: black;
}
a {
  text-decoration: none;
}
.categories {
  margin-left: 50px;
}
.categories > a {
  padding: 20px;
  cursor: pointer;
}
.submit-button:hover {
  background-color: black;
}
#searching-button {
  height: 30px;
  width: 50px;
  border: none;
  background-color: transparent;
  margin-left: 5px;
  cursor: pointer;
  margin-bottom: -8px;
  background-image: url("https://www.hihonor.com/etc/designs/honor-site/assets/header-svg/5.svg");
  background-repeat: no-repeat;
}
#searching-button:hover {
  background-color: lightgray;
  opacity: 0.33;
}
#search-box {
  width: 300px;
  height: 25px;
  font-size: 20px;
  margin-left: 50px;
  border: 1px solid transparent;
}
.languages,
.categories {
  display: inline-block;
}
.languages {
  margin-left: 20px;
}
::placeholder {
  padding: 2px;
}
.UK,
.Russia,
.Azerbaijan {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.languages > img:hover {
  opacity: 0.5;
}
#goods-type {
  position: absolute;
  top: 100px;
  left: 100px;
}
.separator {
  position: absolute;
  top: 160px;
  left: 0;
  width: 100%;
  opacity: 0.33;
}
#first-product {
  position: absolute;
  top: 200px;
  left: 100px;
  border: 1px transparent;
  height: 400px;
  background-color: #f7f7f7;
  width: 300px;
}
.product-photo {
  position: absolute;
  height: 200px;
  width: 220px;
  padding-top: 10px;
  padding-left: 30px;
}
.product-desc {
  position: absolute;
  top: 230px;
  height: 50px;
  width: 150px;
  padding-left: 75px;
  padding-top: 30px;
  color: black;
}
.product-title {
  position: absolute;
  top: 180px;
  height: 50px;
  width: 150px;
  padding-left: 75px;
  padding-top: 40px;
  text-decoration: none;
  color: black;
}
.product-conds {
  position: absolute;
  color: red;
  top: 290px;
  height: 20px;
  width: 150px;
  padding-left: 75px;
  padding-top: 15px;
}
.product-price {
  position: absolute;
  top: 350px;
  height: 40px;
  width: 70px;
  padding-left: 60px;
  font-size: 15px;
}
.submit-button {
  position: absolute;
  top: 345px;
  height: 30px;
  width: 90px;
  background-color: #48d7f4;
  color: white;
  margin-left: 150px;
  border: 1px solid transparent;
}
#second-product {
  position: absolute;
  top: 200px;
  left: 800px;
  border: 1px transparent;
  height: 400px;
  width: 300px;
  background-color: #f7f7f7;
}
#third-product {
  position: absolute;
  top: 200px;
  left: 1150px;
  border: 1px transparent;
  height: 400px;
  width: 300px;
  background-color: #f7f7f7;
}
#fourth-product {
  position: absolute;
  top: 630px;
  left: 100px;
  border: 1px transparent;
  height: 400px;
  width: 300px;
  background-color: #f7f7f7;
}
#fifth-product {
  position: absolute;
  top: 630px;
  left: 450px;
  border: 1px transparent;
  height: 400px;
  width: 300px;
  background-color: #f7f7f7;
}
#sixth-product {
  position: absolute;
  top: 630px;
  left: 800px;
  border: 1px transparent;
  height: 400px;
  width: 300px;
  background-color: #f7f7f7;
}
#seventh-product {
  position: absolute;
  top: 630px;
  left: 1150px;
  border: 1px transparent;
  height: 400px;
  width: 300px;
  background-color: #f7f7f7;
}
#eighth-product {
  position: absolute;
  top: 200px;
  left: 450px;
  border: 1px transparent;
  height: 400px;
  width: 300px;
  background-color: #f7f7f7;
}
footer {
  background-color: black;
  position: absolute;
  bottom: -530px;
  left: 0;
  right: 0;
  height: 200px;
  width: 100%;
}
footer > * {
  padding: 5px;
  font-size: 15px;
  margin-left: 100px;
  color: white;
}
.customLink {
  padding: 5px;
}
.iconfont {
  width: 40px;
  height: 40px;
}
.partners {
  margin-left: -100px;
}
@keyframes opacityAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
