body {
  animation: opacityAnimation 3s;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#nav {
  text-decoration: underline;
  text-decoration-color: inherit;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 10px;
}
.main-header {
  padding: 30px;
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  height: 40px;
}
.logo-home {
  width: 100px;
  height: 30px;
  padding: 10px;
}
.main-header > a > span {
  color: black;
}
a:active {
  color: black;
}
a {
  text-decoration: none;
}
.categories {
  margin-left: 50px;
}
.categories > a {
  padding: 20px;
  cursor: pointer;
}
#searching-button {
  height: 30px;
  width: 50px;
  border: none;
  background-color: transparent;
  margin-left: 15px;
  cursor: pointer;
  margin-bottom: -8px;
  background-image: url("https://www.hihonor.com/etc/designs/honor-site/assets/header-svg/5.svg");
  background-repeat: no-repeat;
}
#search-box {
  width: 300px;
  height: 25px;
  font-size: 20px;
  margin-left: 120px;
  border: 1px solid transparent;
  background-color: transparent;
}
.languages,
.categories {
  display: inline-block;
}
.languages {
  padding: 10px;
}
::placeholder {
  padding: 2px;
}
.UK,
.Russia,
.Azerbaijan {
  width: 30px;
  height: 30px;
}
.languages > img:hover {
  opacity: 0.5;
  cursor: pointer;
}
#goods-type {
  position: absolute;
  top: 100px;
  left: 100px;
}
.separator {
  position: absolute;
  top: 160px;
  left: 0;
  width: 100%;
  opacity: 0.33;
}
#first-product {
  position: absolute;
  top: 200px;
  left: 100px;
  border: 1px transparent;
  height: 400px;
  width: 300px;
  background-color: #f7f7f7;
}
.product-photo {
  position: absolute;
  height: 200px;
  width: 220px;
  padding-top: 10px;
  padding-left: 30px;
}
.product-desc {
  position: absolute;
  top: 230px;
  height: 50px;
  width: 150px;
  padding-left: 80px;
  padding-top: 40px;
  color: black;
}
.product-title {
  position: absolute;
  top: 180px;
  height: 50px;
  width: 150px;
  padding-left: 80px;
  padding-top: 40px;
  text-decoration: none;
  color: black;
}
.product-price {
  position: absolute;
  top: 350px;
  height: 40px;
  width: 70px;
  padding-left: 60px;
  font-size: 15px;
}
.submit-button {
  position: absolute;
  top: 345px;
  height: 30px;
  width: 90px;
  background-color: #48d7f4;
  color: white;
  margin-left: 150px;
  border: 1px solid transparent;
  cursor: pointer;
}
.submit-button:hover {
  background-color: black;
}
#second-product {
  position: absolute;
  top: 200px;
  left: 450px;
  border: 1px transparent;
  height: 400px;
  width: 300px;
  background-color: #f7f7f7;
}
#third-product {
  position: absolute;
  top: 200px;
  left: 800px;
  border: 1px transparent;
  height: 400px;
  width: 300px;
  background-color: #f7f7f7;
}
#fourth-product {
  position: absolute;
  top: 200px;
  left: 1150px;
  border: 1px transparent;
  height: 400px;
  width: 300px;
  background-color: #f7f7f7;
}
.theme-switcher {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}
.theme-switcher:hover {
  opacity: 0.5;
}
footer {
  background-color: black;
  position: absolute;
  bottom: -220px;
  left: 0;
  right: 0;
  height: 300px;
  width: 100%;
}
footer > * {
  padding: 5px;
  font-size: 15px;
  margin-left: 100px;
  color: white;
}
.customLink {
  padding: -5px;
}
.customLink:hover {
  opacity: 0.5;
}
.iconfont {
  width: 40px;
  height: 40px;
}
.partners {
  margin-left: -100px;
}
.partners:hover {
  opacity: 0.5;
}
.scrolltopButton {
  display: none;
  position: fixed;
  bottom: 200px;
  left: 30px;
  width: 40px;
  height: 40px;
  z-index: 1001;
  border: none;
  outline: none;
  background-color: blue;
  color: white;
  cursor: pointer;
  padding: 12px;
  border-radius: 50px;
  font-size: 22px;
}
.scrolltopButton:hover {
  background-color: #555;
}
.navtreep {
  height: 400px;
  width: 100%;
  background-color: white;
  border: 1px solid transparent;
  z-index: 999;
  position: absolute;
  top: 100px;
  left: 0;
  display: none;
}
#first-productn {
  position: absolute;
  top: 20px;
  left: 200px;
  border: 1px transparent;
  height: 300px;
  width: 300px;
  background-color: #f7f7f7;
}
#second-productn {
  position: absolute;
  top: 20px;
  left: 600px;
  border: 1px transparent;
  height: 300px;
  width: 300px;
  background-color: #f7f7f7;
}
#third-productn {
  position: absolute;
  top: 20px;
  left: 1000px;
  border: 1px transparent;
  height: 300px;
  width: 300px;
  background-color: #f7f7f7;
}
.product-photon {
  position: absolute;
  height: 200px;
  width: 220px;
  padding-top: 10px;
  padding-left: 30px;
}
.product-titlen {
  position: absolute;
  top: 180px;
  height: 50px;
  width: 150px;
  padding-left: 90px;
  padding-top: 70px;
  text-decoration: none;
  color: black;
}
.viewAllProductsButton {
  position: absolute;
  top: 350px;
  left: 550px;
  height: 30px;
  width: 150px;
  background-color: #48d7f4;
  color: white;
  margin-left: 150px;
  border: 1px solid transparent;
}
.viewAllProductsButton:hover {
  background-color: black;
  cursor: pointer;
}
.navtreet {
  height: 400px;
  width: 100%;
  background-color: white;
  border: 1px solid transparent;
  z-index: 999;
  position: absolute;
  top: 100px;
  left: 0;
  display: none;
}
#first-productt {
  position: absolute;
  top: 20px;
  left: 410px;
  border: 1px transparent;
  height: 300px;
  width: 300px;
  background-color: #f7f7f7;
}
#second-productt {
  position: absolute;
  top: 20px;
  left: 830px;
  border: 1px transparent;
  height: 300px;
  width: 300px;
  background-color: #f7f7f7;
}
.product-photot {
  position: absolute;
  height: 200px;
  width: 220px;
  padding-top: 10px;
  padding-left: 30px;
}
.product-titlet {
  position: absolute;
  top: 180px;
  height: 50px;
  width: 150px;
  padding-left: 90px;
  padding-top: 70px;
  text-decoration: none;
  color: black;
}
.navtreel {
  height: 400px;
  width: 100%;
  background-color: white;
  border: 1px solid transparent;
  z-index: 999;
  position: absolute;
  top: 100px;
  left: 0;
  display: none;
}
#first-productl {
  position: absolute;
  top: 20px;
  left: 200px;
  border: 1px transparent;
  height: 300px;
  width: 300px;
  background-color: #f7f7f7;
}
#second-productl {
  position: absolute;
  top: 20px;
  left: 600px;
  border: 1px transparent;
  height: 300px;
  width: 300px;
  background-color: #f7f7f7;
}
#third-productl {
  position: absolute;
  top: 20px;
  left: 1000px;
  border: 1px transparent;
  height: 300px;
  width: 300px;
  background-color: #f7f7f7;
}
.product-photol {
  position: absolute;
  height: 200px;
  width: 220px;
  padding-top: 10px;
  padding-left: 30px;
}
.product-titlel {
  position: absolute;
  top: 180px;
  height: 50px;
  width: 150px;
  padding-left: 90px;
  padding-top: 60px;
  text-decoration: none;
  color: black;
}
.navtreew {
  height: 400px;
  width: 100%;
  background-color: white;
  border: 1px solid transparent;
  z-index: 999;
  position: absolute;
  top: 100px;
  left: 0;
  display: none;
}
#first-productw {
  position: absolute;
  top: 20px;
  left: 200px;
  border: 1px transparent;
  height: 300px;
  width: 300px;
  background-color: #f7f7f7;
}
#second-productw {
  position: absolute;
  top: 20px;
  left: 600px;
  border: 1px transparent;
  height: 300px;
  width: 300px;
  background-color: #f7f7f7;
}
#third-productw {
  position: absolute;
  top: 20px;
  left: 1000px;
  border: 1px transparent;
  height: 300px;
  width: 300px;
  background-color: #f7f7f7;
}
.product-photow {
  position: absolute;
  height: 200px;
  width: 220px;
  padding-top: 10px;
  padding-left: 30px;
}
.product-titlew {
  position: absolute;
  top: 180px;
  height: 50px;
  width: 150px;
  padding-left: 90px;
  padding-top: 70px;
  text-decoration: none;
  color: black;
}
@keyframes opacityAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hamburger-menu {
  visibility: hidden;
}
@media screen and (max-width: 550px) {
  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 420px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  #first-product {
    position: absolute;
    top: 200px;
    left: 100px;
    border: 1px transparent;
    height: 400px;
    width: 300px;
    background-color: #f7f7f7;
  }
  #second-product {
    position: absolute;
    top: 650px;
    left: 100px;
    border: 1px transparent;
    height: 400px;
    width: 300px;
    background-color: #f7f7f7;
  }
  #third-product {
    position: absolute;
    top: 1100px;
    left: 100px;
    border: 1px transparent;
    height: 400px;
    width: 300px;
    background-color: #f7f7f7;
  }
  #fourth-product {
    position: absolute;
    top: 1550px;
    left: 100px;
    border: 1px transparent;
    height: 400px;
    width: 300px;
    background-color: #f7f7f7;
  }
  footer {
    position: absolute;
    top: 2000px;
  }
  .main-header {
    visibility: hidden;
  }
  .hamburger-menu {
    visibility: visible;
  }
  #menu__toggle {
    opacity: 0;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: white;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: white;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: 0.25s;
  }
  .menu__box {
    transition-duration: 0.25s;
  }
  .menu__item {
    transition-duration: 0.25s;
  }
}
@media screen and (min-width: 550px) and (max-width: 600px) {
  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 520px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  #first-product {
    position: absolute;
    top: 200px;
    left: 100px;
    border: 1px transparent;
    height: 400px;
    width: 300px;
    background-color: #f7f7f7;
  }
  #second-product {
    position: absolute;
    top: 650px;
    left: 100px;
    border: 1px transparent;
    height: 400px;
    width: 300px;
    background-color: #f7f7f7;
  }
  #third-product {
    position: absolute;
    top: 1100px;
    left: 100px;
    border: 1px transparent;
    height: 400px;
    width: 300px;
    background-color: #f7f7f7;
  }
  #fourth-product {
    position: absolute;
    top: 1550px;
    left: 100px;
    border: 1px transparent;
    height: 400px;
    width: 300px;
    background-color: #f7f7f7;
  }
  footer {
    position: absolute;
    top: 2000px;
  }
  .main-header {
    visibility: hidden;
  }
  .hamburger-menu {
    visibility: visible;
  }
  #menu__toggle {
    opacity: 0;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: white;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: white;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: 0.25s;
  }
  .menu__box {
    transition-duration: 0.25s;
  }
  .menu__item {
    transition-duration: 0.25s;
  }
}
@media screen and (min-width: 600px) and (max-width: 650px) {
  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 570px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  #first-product {
    position: absolute;
    top: 200px;
    left: 100px;
    border: 1px transparent;
    height: 400px;
    width: 300px;
    background-color: #f7f7f7;
  }
  #second-product {
    position: absolute;
    top: 650px;
    left: 100px;
    border: 1px transparent;
    height: 400px;
    width: 300px;
    background-color: #f7f7f7;
  }
  #third-product {
    position: absolute;
    top: 1100px;
    left: 100px;
    border: 1px transparent;
    height: 400px;
    width: 300px;
    background-color: #f7f7f7;
  }
  #fourth-product {
    position: absolute;
    top: 1550px;
    left: 100px;
    border: 1px transparent;
    height: 400px;
    width: 300px;
    background-color: #f7f7f7;
  }
  footer {
    position: absolute;
    top: 2000px;
  }
  .main-header {
    visibility: hidden;
  }
  .hamburger-menu {
    visibility: visible;
  }
  #menu__toggle {
    opacity: 0;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: white;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: white;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: 0.25s;
  }
  .menu__box {
    transition-duration: 0.25s;
  }
  .menu__item {
    transition-duration: 0.25s;
  }
}
@media screen and (min-width: 650px) and (max-width: 700px) {
  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 620px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  #first-product {
    position: absolute;
    top: 200px;
    left: 100px;
    border: 1px transparent;
    height: 400px;
    width: 300px;
    background-color: #f7f7f7;
  }
  #second-product {
    position: absolute;
    top: 650px;
    left: 100px;
    border: 1px transparent;
    height: 400px;
    width: 300px;
    background-color: #f7f7f7;
  }
  #third-product {
    position: absolute;
    top: 1100px;
    left: 100px;
    border: 1px transparent;
    height: 400px;
    width: 300px;
    background-color: #f7f7f7;
  }
  #fourth-product {
    position: absolute;
    top: 1550px;
    left: 100px;
    border: 1px transparent;
    height: 400px;
    width: 300px;
    background-color: #f7f7f7;
  }
  footer {
    position: absolute;
    top: 2000px;
  }
  .main-header {
    visibility: hidden;
  }
  .hamburger-menu {
    visibility: visible;
  }
  #menu__toggle {
    opacity: 0;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: white;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: white;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: 0.25s;
  }
  .menu__box {
    transition-duration: 0.25s;
  }
  .menu__item {
    transition-duration: 0.25s;
  }
}
@media screen and (min-width: 700px) and (max-width: 800px) {
  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 670px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  #first-product {
    position: absolute;
    top: 200px;
    left: 100px;
    border: 1px transparent;
    height: 400px;
    width: 300px;
    background-color: #f7f7f7;
  }
  #second-product {
    position: absolute;
    top: 200px;
    left: 450px;
    border: 1px transparent;
    height: 400px;
    width: 300px;
    background-color: #f7f7f7;
  }
  #third-product {
    position: absolute;
    top: 650px;
    left: 100px;
    border: 1px transparent;
    height: 400px;
    width: 300px;
    background-color: #f7f7f7;
  }
  #fourth-product {
    position: absolute;
    top: 650px;
    left: 450px;
    border: 1px transparent;
    height: 400px;
    width: 300px;
    background-color: #f7f7f7;
  }
  footer {
    position: absolute;
    top: 1100px;
  }
  .main-header {
    visibility: hidden;
  }
  .hamburger-menu {
    visibility: visible;
  }
  #menu__toggle {
    opacity: 0;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: white;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: white;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: 0.25s;
  }
  .menu__box {
    transition-duration: 0.25s;
  }
  .menu__item {
    transition-duration: 0.25s;
  }
}
@media screen and (min-width: 800px) and (max-width: 900px) {
  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 770px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  #first-product {
    position: absolute;
    top: 200px;
    left: 100px;
    border: 1px transparent;
    height: 400px;
    width: 300px;
    background-color: #f7f7f7;
  }
  #second-product {
    position: absolute;
    top: 200px;
    left: 450px;
    border: 1px transparent;
    height: 400px;
    width: 300px;
    background-color: #f7f7f7;
  }
  #third-product {
    position: absolute;
    top: 650px;
    left: 100px;
    border: 1px transparent;
    height: 400px;
    width: 300px;
    background-color: #f7f7f7;
  }
  #fourth-product {
    position: absolute;
    top: 650px;
    left: 450px;
    border: 1px transparent;
    height: 400px;
    width: 300px;
    background-color: #f7f7f7;
  }
  footer {
    position: absolute;
    top: 1100px;
  }
  .main-header {
    visibility: hidden;
  }
  .hamburger-menu {
    visibility: visible;
  }
  #menu__toggle {
    opacity: 0;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: white;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: white;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: 0.25s;
  }
  .menu__box {
    transition-duration: 0.25s;
  }
  .menu__item {
    transition-duration: 0.25s;
  }
}
@media screen and (min-width: 900px) and (max-width: 950px) {
  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 820px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  #first-product {
    position: absolute;
    top: 200px;
    left: 100px;
    border: 1px transparent;
    height: 400px;
    width: 300px;
    background-color: #f7f7f7;
  }
  #second-product {
    position: absolute;
    top: 200px;
    left: 450px;
    border: 1px transparent;
    height: 400px;
    width: 300px;
    background-color: #f7f7f7;
  }
  #third-product {
    position: absolute;
    top: 650px;
    left: 100px;
    border: 1px transparent;
    height: 400px;
    width: 300px;
    background-color: #f7f7f7;
  }
  #fourth-product {
    position: absolute;
    top: 650px;
    left: 450px;
    border: 1px transparent;
    height: 400px;
    width: 300px;
    background-color: #f7f7f7;
  }
  footer {
    position: absolute;
    top: 1100px;
  }
  .main-header {
    visibility: hidden;
  }
  .hamburger-menu {
    visibility: visible;
  }
  #menu__toggle {
    opacity: 0;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: white;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: white;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: 0.25s;
  }
  .menu__box {
    transition-duration: 0.25s;
  }
  .menu__item {
    transition-duration: 0.25s;
  }
}
@media screen and (min-width: 950px) and (max-width: 1300px) {
  #searching-button {
    position: absolute;
    top: 70px;
    left: 350px;
  }
  #search-box {
    position: absolute;
    top: 70px;
    left: -80px;
  }
  #first-product {
    position: absolute;
    top: 200px;
    left: 100px;
    border: 1px transparent;
    height: 400px;
    width: 300px;
    background-color: #f7f7f7;
  }
  #second-product {
    position: absolute;
    top: 200px;
    left: 450px;
    border: 1px transparent;
    height: 400px;
    width: 300px;
    background-color: #f7f7f7;
  }
  #third-product {
    position: absolute;
    top: 200px;
    left: 800px;
    border: 1px transparent;
    height: 400px;
    width: 300px;
    background-color: #f7f7f7;
  }
  #fourth-product {
    position: absolute;
    top: 650px;
    left: 100px;
    border: 1px transparent;
    height: 400px;
    width: 300px;
    background-color: #f7f7f7;
  }
  footer {
    position: absolute;
    top: 1100px;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1415px) {
  #searching-button {
    position: absolute;
    margin-left: 350px;
  }
  #search-box {
    position: absolute;
    margin-left: 30px;
  }
}
